/* Layout styles. */
*, html {
  margin: 0;
  padding: 0; }

body {
  font-size: 100%; }

#page {
  font-size: 14px;
  line-height: 18.004px;
  margin: 0 auto;
  width: 960px; }

#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0; }

/* Header styles. */
#header {
  background-color: #ccc; }
  #header #logo-title {
    margin: 0;
    position: relative; }
    #header #logo-title #logo {
      vertical-align: baseline; }
    #header #logo-title #site-name {
      margin: 0; }
    #header #logo-title #site-slogan {
      margin-left: 20px; }
  #header #header-region {
    overflow: hidden; }

/* Navigation styles. */
/* Sidebar styles. */
.sidebar {
  float: left; }

.two-sidebars #content-inner {
  margin-left: 220px;
  margin-right: 150px; }

.sidebar-right #content-inner {
  margin-right: 150px; }

.sidebar-left #content-inner {
  margin-left: 220px; }

#sidebar-left {
  background-color: #ccc;
  width: 220px;
  margin-right: -150px; }

#sidebar-right {
  background-color: #ccc;
  float: right;
  width: 150px; }

.inner {
  padding: 10px; }

/* Footer styles. */
#footer {
  background-color: #ccc;
  float: none;
  clear: both;
  margin: 10px;
  padding: 10px; }

/* Font styles. */
body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: Tahoma, Verdana, Arial, Helvetica, 'Bitstream Vera Sans', sans-serif; }

/* Paragraph styles. */
.node p {
  margin: 10px 0; }

/* Misc styles. */
#header,
#footer,
#main #content .mission,
#main #content .breadcrumb,
#main #content .node {
  clear: both; }

/* Link styles. */
a:link, a:visited {
  color: #006dab; }
a:hover, a:active {
  color: #228fcd; }

/* Title styles. */
h1 {
  font-size: 28px;
  line-height: 18.2px;
  margin-top: 0px;
  margin-bottom: 0.5em; }

/* Table styles. */
table {
  width: 99%; }

tr.even td, tr.odd td {
  padding: 10px 5px; }

tr.even {
  background-color: #ffffff; }

tr.odd {
  background-color: #efefef; }

/* Code styles. */
code, pre {
  background-color: #efefef;
  border: 1px solid #aaa;
  display: block;
  padding: 10px;
  margin: 10px 0;
  font-family: '"Bitstream Vera Sans Mono", "Courier New", monospace'; }

/* List syles. */
ul {
  list-style-type: disc;
  margin-left: 0;
  padding-left: 2em; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal;
  margin-left: 0;
  padding-left: 2em; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

/* Abbreviation styles. */
abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap; }
  abbr .created {
    border: none;
    cursor: auto;
    white-space: normal; }

/* User interface styles. */
.resizable-textarea textarea {
  font-size: 14px !important; }

.messages {
  background-color: #d0ffd3;
  border: 0px;
  color: #04a107;
  margin: 10px 0;
  padding: 10px; }
  .messages.error {
    background-color: #ffd7d7;
    border: 0px;
    color: #b30b0b;
    margin: 10px 0;
    padding: 10px; }

form {
  margin: 10px 0; }

/* Rollover edit links for blocks */
body.admin div.block {
  position: relative; }
  body.admin div.block div.edit {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 40;
    border: 1px solid #eee;
    font-size: 11px;
    background-color: #fff; }
  body.admin div.block:hover div.edit {
    display: block; }

div.tabs {
  margin: 0 0 5px 0; }

ul.primary, ul.secondary {
  display: table;
  width: 99%; }

ul.primary {
  margin: 0;
  padding: 0 0 0 10px;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(../../images/tabs/tab-bar.png) repeat-x left bottom; }
  ul.primary li {
    float: left;
    margin: 0;
    padding: 0; }
    ul.primary li a {
      display: block;
      height: 24px;
      margin: 0;
      padding: 0 0 0 5px;
      border-width: 0;
      font-weight: bold;
      text-decoration: none;
      color: #777;
      background-color: transparent;
      background: url(../../images/tabs/tab-left.png) no-repeat left -38px; }
      ul.primary li a .tab {
        display: block;
        height: 20px;
        margin: 0;
        padding: 4px 13px 0 6px;
        border-width: 0;
        line-height: 20px;
        background: url(../../images/tabs/tab-right.png) no-repeat right -38px; }
      ul.primary li a:hover {
        border-width: 0;
        background-color: transparent;
        background: url(../../images/tabs/tab-left.png) no-repeat left -76px; }
        ul.primary li a:hover .tab {
          background: url(../../images/tabs/tab-right.png) no-repeat right -76px; }
    ul.primary li.active a,
    ul.primary li.active a:hover {
      border-width: 0;
      color: #000;
      background-color: transparent;
      background: url(../../images/tabs/tab-left.png) no-repeat left 0; }
      ul.primary li.active a .tab,
      ul.primary li.active a:hover .tab {
        background: url(../../images/tabs/tab-right.png) no-repeat right 0; }

ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background: url(../../images/tabs/tab-secondary-bg.png) repeat-x left bottom; }
  ul.secondary li {
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 0;
    border-right: none; }
  ul.secondary a {
    display: block;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 1px solid #c0c0c0;
    text-decoration: none;
    color: #777;
    background: url(../../images/tabs/tab-secondary.png) repeat-x left -56px; }
    ul.secondary a .tab {
      display: block;
      height: 18px;
      margin: 0;
      padding: 3px 8px;
      line-height: 18px; }
    ul.secondary a:hover {
      background: url(../../images/tabs/tab-secondary.png) repeat-x left bottom; }
    ul.secondary a.active,
    ul.secondary a.active:hover {
      border: 1px solid #c0c0c0;
      color: #000;
      background: url(../images/tabs/tab-secondary.png) repeat-x left top; }

.browser-ie6 {
  /* fix the admin page in IE6. */
  /* Tab styles. IE6 doesn't play nice with png's. */ }
  .browser-ie6 div.admin .left, .browser-ie6 div.admin .right {
    width: 46%; }
  .browser-ie6 ul.primary,
  .browser-ie6 ul.secondary {
    width: 100%;
    width: auto; }
    .browser-ie6 ul.primary li a, .browser-ie6 ul.primary li a .tab,
    .browser-ie6 ul.secondary li a, .browser-ie6 ul.secondary li a .tab {
      display: inline;
      display: inline-block; }
  .browser-ie6 ul.primary li a {
    background: url(../../images/tabs/tab-left-ie6.png) no-repeat left -38px; }
    .browser-ie6 ul.primary li a:hover {
      cursor: pointer;
      color: #555;
      text-decoration: none;
      background: url(../../images/tabs/tab-left-ie6.png) no-repeat left -76px; }
      .browser-ie6 ul.primary li a:hover .tab {
        background: url(../../images/tabs/tab-right-ie6.png) no-repeat right -76px; }
  .browser-ie6 ul.primary li .tab {
    background: url(../../images/tabs/tab-right-ie6.png) no-repeat right -38px; }
  .browser-ie6 ul.primary li.active a,
  .browser-ie6 ul.primary li.active a:hover {
    background: url(../images/tabs/tab-left-ie6.png) no-repeat left 0; }
    .browser-ie6 ul.primary li.active a .tab,
    .browser-ie6 ul.primary li.active a:hover .tab {
      background: url(../../images/tabs/tab-right-ie6.png) no-repeat right 0; }
  .browser-ie6 ul.secondary li a:hover {
    cursor: pointer;
    color: #555;
    text-decoration: none; }
  .browser-ie6 #content tr.even th,
  .browser-ie6 #content tr.even td,
  .browser-ie6 #content tr.odd th,
  .browser-ie6 #content tr.odd td {
    border-bottom: 1px solid #ccc; }

.browser-ie7 {
  /* Minor fix for primary and secondary tabs in IE. */ }
  .browser-ie7 #content tr.even th,
  .browser-ie7 #content tr.even td,
  .browser-ie7 #content tr.odd th,
  .browser-ie7 #content tr.odd td {
    border-bottom: 1px solid #ccc; }
  .browser-ie7 ul.primary li a:hover,
  .browser-ie7 ul.secondary li a:hover {
    cursor: pointer;
    color: #555;
    text-decoration: none; }
