.sidebar,
#navigation,
#header-region,
#search-theme-form,
#footer,
.breadcrumb,
.tabs,
.feed-icon,
.links {
  display: none; }

#page {
  width: 100%; }

#header {
  background-color: transparent; }

#content,
#content #content-inner,
.content,
.title {
  margin: 20px 0;
  width: auto; }

a:hover, a:active, a:link, a:visited {
  color: #000; }
